.App {
  text-align: center;
  background-image: url("./assets/desktopbg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1f1f1f;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 15% 15% ;
  padding:3%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffd000;
}

.symbol {
  font-size:1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
